<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- begin::Head -->
<head>
    <th:block th:insert="fragments :: head/meta"></th:block>
    <th:block th:insert="fragments :: head/link"></th:block>

    <title>Quiz | Profile - Change password</title>
</head>

<!-- end::Head -->

<!-- begin::Body -->
<body th:style="'background-image: url(' + @{/media/demos/demo8/bg-1.jpg} + ')'"
      class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">

<!-- begin:: Page -->

<!-- begin:: Header Mobile -->
<div th:replace="fragments :: header-mobile"></div>

<!-- end:: Header Mobile -->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

            <!-- begin:: Header -->
            <div th:replace="fragments :: header"></div>
            <!-- end:: Header -->

            <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch">
                <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
                    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                        <!-- begin:: Subheader -->
                        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                            <div class="kt-container  kt-container--fluid ">
                            </div>
                        </div>

                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-container pt-3 kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                            <!--Begin::App-->
                            <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
                                <!--Begin:: App Aside-->
                                <div th:replace="setting/information :: left-content"></div>
                                <!--End:: App Aside-->

                                <!--Begin:: App Content-->
                                <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="kt-portlet">
                                                <div class="kt-portlet__head">
                                                    <div class="kt-portlet__head-label">
                                                        <h3 class="kt-portlet__head-title">Change password <small>update your password</small></h3>
                                                    </div>
                                                </div>
                                                <form class="kt-form kt-form--label-right" method="POST" th:action="@{/setting/changePassword}">
                                                    <div class="kt-portlet__body">
                                                        <div class="kt-section kt-section--first">
                                                            <div class="form-group">
                                                                <div class="font-weight-bold text-center d-block" th:classappend="${successMessage ne null ? 'alert alert-success' : ''}" th:text="${successMessage}"></div>
                                                                <div class="font-weight-bold text-center d-block" th:classappend="${errorMessage ne null ? 'alert alert-danger' : ''}" th:text="${errorMessage}"></div>
                                                            </div>
                                                            <div class="kt-section__body">
                                                                <div class="row">
                                                                    <label class="col-xl-3"></label>
                                                                    <div class="col-lg-9 col-xl-6">
                                                                        <h3 class="kt-section__title kt-section__title-sm">Change your password:</h3>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-xl-3 col-lg-3 col-form-label">Current Password</label>
                                                                    <div class="col-lg-9 col-xl-6">
                                                                        <input class="form-control" type="password" name="currentPassword" placeholder="Current password">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-xl-3 col-lg-3 col-form-label">New Password</label>
                                                                    <div class="col-lg-9 col-xl-6">
                                                                        <div class="input-group">
                                                                            <input type="password" class="form-control" name="newPassword" placeholder="New Password">
                                                                        </div>
                                                                        <span class="form-text text-muted">Password must be at least 1 lower, upper and special character</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-xl-3 col-lg-3 col-form-label">Confirm Password</label>
                                                                    <div class="col-lg-9 col-xl-6">
                                                                        <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="kt-portlet__foot">
                                                        <div class="kt-form__actions">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-xl-3">
                                                                </div>
                                                                <div class="col-lg-9 col-xl-9">
                                                                    <button type="submit" class="btn btn-success">Submit</button>&nbsp;
                                                                    <button type="reset" class="btn btn-secondary">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--End:: App Content-->
                            </div>

                            <!--End::App-->
                        </div>

                        <!-- end:: Content -->
                    </div>
                </div>
            </div>

            <!-- begin:: Footer -->
            <div th:replace="fragments :: footer"></div>
            <!-- end:: Footer -->
        </div>
    </div>
</div>
<!-- end:: Page -->
<th:block th:insert="fragments :: body/script"></th:block>
</body>
<!-- end::Body -->
</html>