<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- begin::Head -->
<head>
    <th:block th:insert="fragments :: head/meta"></th:block>
    <th:block th:insert="fragments :: head/link"></th:block>

    <title>Quiz | Profile</title>
</head>

<!-- end::Head -->

<!-- begin::Body -->
<body th:style="'background-image: url(' + @{/media/demos/demo8/bg-1.jpg} + ')'"
      class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">

<!-- begin:: Page -->

<!-- begin:: Header Mobile -->
<div th:replace="fragments :: header-mobile"></div>

<!-- end:: Header Mobile -->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

            <!-- begin:: Header -->
            <div th:replace="fragments :: header"></div>
            <!-- end:: Header -->

            <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch">
                <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
                    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                        <!-- begin:: Subheader -->
                        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                            <div class="kt-container  kt-container--fluid ">
                            </div>
                        </div>

                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-container pt-3 kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                            <!--Begin::App-->
                            <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
                                <!--Begin:: App Aside-->
                                <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside" th:fragment="left-content">
                                    <!--begin:: Widgets/Applications/User/Profile1-->
                                    <div class="kt-portlet">
                                        <div class="kt-portlet__body pt-5 kt-portlet__body--fit-y">

                                            <!--begin::Widget -->
                                            <div class="kt-widget kt-widget--user-profile-1">
                                                <div class="kt-widget__head d-block text-center">
                                                    <div class="kt-widget__media">
                                                        <th:block th:if="${memberObject?.avatar eq null}">
                                                            <img th:src="@{/image/default_avatar.png}" alt="image">
                                                        </th:block>
                                                        <th:block th:unless="${memberObject?.avatar eq null}">
                                                            <img th:src="'data:image/jpeg;base64,' + ${memberObject?.convertImageToString()}" alt="image">
                                                        </th:block>
                                                    </div>
                                                </div>
                                                <div class="kt-widget__body">
                                                    <div class="kt-widget__content">
                                                        <div class="kt-widget__info">
                                                            <span class="kt-widget__label">Email:</span>
                                                            <a href="javascript:void(0);" class="kt-widget__data">[[${memberObject?.email}]]</a>
                                                        </div>
                                                        <div class="kt-widget__info">
                                                            <span class="kt-widget__label">Phone:</span>
                                                            <a href="javascript:void(0);" class="kt-widget__data">[[${memberObject?.phone}]]</a>
                                                        </div>
                                                        <div class="kt-widget__info">
                                                            <span class="kt-widget__label">Date of Birth:</span>
                                                            <span class="kt-widget__data">[[${#dates.format(memberObject?.dateOfBirth, 'dd-MMM-yyyy')}]]</span>
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget__items">
                                                        <!-- Personal information -->
                                                        <a th:href="@{/setting/information}" class="kt-widget__item kt-widget__item--active">
                                                            <span class="kt-widget__section">
                                                                <span class="kt-widget__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                                            <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                            <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                                                        </g>
                                                                    </svg>
                                                                </span>
                                                                <span class="kt-widget__desc">
                                                                    Personal Information
                                                                </span>
                                                            </span>
                                                        </a>
                                                        <!-- Change password -->
                                                        <a th:href="@{/setting/change-password}" class="kt-widget__item ">
                                                            <span class="kt-widget__section">
                                                                <span class="kt-widget__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24" />
                                                                            <path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z" fill="#000000" opacity="0.3" />
                                                                            <path d="M12,11 C10.8954305,11 10,10.1045695 10,9 C10,7.8954305 10.8954305,7 12,7 C13.1045695,7 14,7.8954305 14,9 C14,10.1045695 13.1045695,11 12,11 Z" fill="#000000" opacity="0.3" />
                                                                            <path d="M7.00036205,16.4995035 C7.21569918,13.5165724 9.36772908,12 11.9907452,12 C14.6506758,12 16.8360465,13.4332455 16.9988413,16.5 C17.0053266,16.6221713 16.9988413,17 16.5815,17 C14.5228466,17 11.463736,17 7.4041679,17 C7.26484009,17 6.98863236,16.6619875 7.00036205,16.4995035 Z" fill="#000000" opacity="0.3" />
                                                                        </g>
                                                                    </svg>
                                                                </span>
                                                                <span class="kt-widget__desc">
                                                                    Change Password
                                                                </span>
                                                            </span>
                                                        </a>
                                                        <!-- Deactivate account -->
                                                        <a th:href="@{/setting/deactivate-account}" class="kt-widget__item ">
                                                            <span class="kt-widget__section">
                                                                <span class="kt-widget__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <rect x="0" y="0" width="24" height="24" />
                                                                            <path d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" fill="#000000" opacity="0.3" />
                                                                            <path d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" fill="#000000" />
                                                                        </g>
                                                                    </svg>
                                                                </span>
                                                                <span class="kt-widget__desc">
                                                                    Deactivate Account
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--end::Widget -->
                                        </div>
                                    </div>

                                    <!--end:: Widgets/Applications/User/Profile1-->
                                </div>

                                <!--End:: App Aside-->

                                <!--Begin:: App Content-->
                                <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="kt-portlet">
                                                <div class="kt-portlet__head">
                                                    <div class="kt-portlet__head-label">
                                                        <h3 class="kt-portlet__head-title">Personal Information <small>update your personal informaiton</small></h3>
                                                    </div>
                                                </div>
                                                <form class="kt-form kt-form--label-right" method="POST" th:action="@{/setting/updateInfo}" th:object="${memberObject}" enctype="multipart/form-data">
                                                    <div class="kt-portlet__body">
                                                        <div class="kt-section kt-section--first">
                                                            <div class="kt-section__body">
                                                                <div class="row">
                                                                    <label class="col-xl-3"></label>
                                                                    <div class="col-lg-9 col-xl-6">
                                                                        <h3 class="kt-section__title kt-section__title-sm">Member Info:</h3>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
                                                                    <div class="col-lg-9 col-xl-6">
                                                                        <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                                                                            <div class="kt-avatar__holder">
                                                                                <img class="img-thumbnail" style="width: 120px; height: 120px;" th:src="'data:image/jpeg;base64,' + ${memberObject?.convertImageToString()}">
                                                                            </div>
                                                                            <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                                                                <i class="fa fa-pen"></i>
                                                                                <input type="file" name="profile_avatar" id="profile_avatar" accept=".png, .jpg, .jpeg">
                                                                            </label>
                                                                            <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                                                                <i class="fa fa-times"></i>
                                                                            </span>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-xl-3 col-lg-3 col-form-label">First Name</label>
                                                                    <div class="col-lg-9 col-xl-6">
                                                                        <input type="hidden" name="id" th:field="*{id}">
                                                                        <input class="form-control" type="text" name="firstName" th:field="*{firstName}" placeholder="First Name">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-xl-3 col-lg-3 col-form-label">Last Name</label>
                                                                    <div class="col-lg-9 col-xl-6">
                                                                        <input class="form-control" type="text" name="lastName" th:field="*{lastName}" placeholder="Last Name">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-xl-3 col-lg-3 col-form-label">Date of Birth</label>
                                                                    <div class="col-lg-9 col-xl-6">
                                                                        <input class="form-control" type="date" th:field="*{dateOfBirth}" name="dateOfBirth" placeholder="dd/mm/yyyy">
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="col-xl-3"></label>
                                                                    <div class="col-lg-9 col-xl-6">
                                                                        <h3 class="kt-section__title kt-section__title-sm">Contact Info:</h3>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-xl-3 col-lg-3 col-form-label">Contact Phone</label>
                                                                    <div class="col-lg-9 col-xl-6">
                                                                        <div class="input-group">
                                                                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                                                                            <input type="text" class="form-control" name="phone" th:field="*{phone}" placeholder="Phone" aria-describedby="basic-addon1">
                                                                        </div>
                                                                        <span class="form-text text-muted">Phone format: 0123-123-123</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-xl-3 col-lg-3 col-form-label">Email Address</label>
                                                                    <div class="col-lg-9 col-xl-6">
                                                                        <div class="input-group">
                                                                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                                                                            <input type="text" class="form-control" name="email" th:field="*{email}" placeholder="Email" aria-describedby="basic-addon1">
                                                                        </div>
                                                                        <span class="form-text text-muted">Email format: xxxxx@xxx.xxx</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="kt-portlet__foot">
                                                        <div class="kt-form__actions">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-xl-3">
                                                                </div>
                                                                <div class="col-lg-9 col-xl-9">
                                                                    <button type="submit" class="btn btn-success">Submit</button>&nbsp;
                                                                    <button type="reset" class="btn btn-secondary">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--End:: App Content-->
                            </div>

                            <!--End::App-->
                        </div>

                        <!-- end:: Content -->
                    </div>
                </div>
            </div>

            <!-- begin:: Footer -->
            <div th:replace="fragments :: footer"></div>
            <!-- end:: Footer -->
        </div>
    </div>
</div>
<!-- end:: Page -->
<th:block th:insert="fragments :: body/script"></th:block>
</body>
<script>
    $('#profile_avatar').on('input', function() {
        $('.img-thumbnail').addClass('d-none');
    })
    $('.kt-avatar__cancel').on('click', function() {
        $('.img-thumbnail').removeClass('d-none');
    })
</script>

<!-- end::Body -->
</html>