<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments :: head/meta"></th:block>
    <th:block th:insert="fragments :: head/link"></th:block>
    <!--begin::Page Custom Styles(used by this page) -->
    <link th:href="@{/css/pages/error/error-5.css}" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles -->
    <title>400 | Bad Request</title>
</head>
<body th:style="'background-image: url(' + @{/media/demos/demo8/bg-1.jpg} + ');'"
      class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v5" th:style="'background-image: url(' + @{/media/error/bg5.jpg} + ');'">
        <div class="kt-error_container">
            <span class="kt-error_title">
                <h1>Error 400</h1>
            </span>
            <p class="kt-error_subtitle">
                Oops! Something went wrong here.
            </p>
            <p class="kt-error_description">
                You've send a bad request.
            </p>
        </div>
    </div>
</div>
<!-- end:: Page -->
<th:block th:insert="fragments :: body/script"></th:block>
<script>
    window.setTimeout(function() {
        window.location.href = "http://localhost:8080/quiz/index";
    }, 3000)
</script>
</body>
</html>