<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- begin::Head -->
<head>
    <th:block th:insert="fragments :: head/meta"></th:block>
    <th:block th:insert="fragments :: head/link"></th:block>

    <!--begin::Page Custom Styles(used by this page) -->
    <link th:href="@{/css/pages/wizard/wizard-2.css}" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles -->
    <title>Quiz | Create Quiz</title>
    <style>
        .modal {
            overflow-y: auto !important;
        }
    </style>
</head>
<!-- end::Head -->

<!-- begin::Body -->
<body th:style="'background-image: url(' + @{/media/demos/demo8/bg-1.jpg} + ');'"
      class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">

<!-- begin:: Page -->

<!-- begin:: Header Mobile -->
<th:block th:insert="fragments :: header-mobile"></th:block>
<!-- begin:: Header Mobile -->

<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

            <!-- begin:: Header -->
            <th:block th:insert="fragments :: header"></th:block>
            <!-- begin:: Header -->

            <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch">
                <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
                    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                        <!-- begin:: Subheader -->
                        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                            <div class="kt-container  kt-container--fluid ">
                                <div class="kt-subheader__main">
                                    <h3 class="kt-subheader__title">
                                        Manage </h3>
                                    <span class="kt-subheader__separator kt-hidden"></span>
                                    <div class="kt-subheader__breadcrumbs">
                                        <a href="#" class="kt-subheader__breadcrumbs-home"><i
                                                class="flaticon2-shelter"></i></a>
                                        <span class="kt-subheader__breadcrumbs-separator"></span>
                                        <a href="" class="kt-subheader__breadcrumbs-link">
                                            Create Quiz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                            <div class="kt-portlet">
                                <div class="kt-portlet__body kt-portlet__body--fit">
                                    <div class="kt-grid  kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2" data-ktwizard-state="step-first">
                                        <div class="kt-grid__item kt-wizard-v2__aside">

                                            <!--begin: Form Wizard Nav -->
                                            <div class="kt-wizard-v2__nav">

                                                <!--doc: Remove "kt-wizard-v2__nav-items--clickable" class and also set 'clickableSteps: false' in the JS init to disable manually clicking step titles -->
                                                <div class="kt-wizard-v2__nav-items kt-wizard-v2__nav-items--clickable">
                                                    <div class="kt-wizard-v2__nav-item" data-ktwizard-type="step" data-ktwizard-state="current">
                                                        <div class="kt-wizard-v2__nav-body">
                                                            <div class="kt-wizard-v2__nav-icon">
                                                                <i class="flaticon-settings"></i>
                                                            </div>
                                                            <div class="kt-wizard-v2__nav-label">
                                                                <div class="kt-wizard-v2__nav-label-title">
                                                                    Quiz Settings
                                                                </div>
                                                                <div class="kt-wizard-v2__nav-label-desc">
                                                                    Setup Basic Information
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="kt-wizard-v2__nav-item" href="#" data-ktwizard-type="step">
                                                        <div class="kt-wizard-v2__nav-body">
                                                            <div class="kt-wizard-v2__nav-icon">
                                                                <i class="flaticon-list"></i>
                                                            </div>
                                                            <div class="kt-wizard-v2__nav-label">
                                                                <div class="kt-wizard-v2__nav-label-title">
                                                                    Add Question
                                                                </div>
                                                                <div class="kt-wizard-v2__nav-label-desc">
                                                                    Search or create new
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="kt-wizard-v2__nav-item" data-ktwizard-type="step">
                                                        <div class="kt-wizard-v2__nav-body">
                                                            <div class="kt-wizard-v2__nav-icon">
                                                                <i class="flaticon-confetti"></i>
                                                            </div>
                                                            <div class="kt-wizard-v2__nav-label">
                                                                <div class="kt-wizard-v2__nav-label-title">
                                                                    Completed!
                                                                </div>
                                                                <div class="kt-wizard-v2__nav-label-desc">
                                                                    Review and Submit
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--end: Form Wizard Nav -->
                                        </div>
                                        <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
                                            <!--begin: Form Wizard Form-->
                                            <form class="kt-form" id="kt_form">
                                                <input type="hidden" id="quizId" value="">
                                                <!--begin: Form Wizard Step 1-->
                                                <div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                                    <div class="form-group" id="message">
                                                        <div class="font-weight-bold d-block text-center" th:classappend="${successMessage ne null ? 'alert alert-success' : ''}" th:text="${successMessage}"></div>
                                                    </div>
                                                    <div class="kt-heading kt-heading--md">Enter your Quiz Details</div>
                                                    <div class="kt-separator"></div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v2__form">
                                                            <div class="form-group">
                                                                <label for="quiz-title">Quiz Title</label>
                                                                <input type="text" class="form-control" id="quiz-title" name="quiz-title" placeholder="Please enter the quiz title.">
                                                                <input type="hidden" id="userId" th:value="${memberObject?.id}">
                                                                <span class="invalid-feedback"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="kt_select2_11">Choose Topics</label>
                                                                <select class="form-control kt-select2" id="kt_select2_11" multiple name="param">
                                                                    <option></option>
                                                                    <option th:each="topic : ${listTopic}" th:text="${topic?.topicName}" th:value="${topic?.topicName}"></option>
                                                                </select>
                                                                <span class="form-text text-muted">Please select the topic.</span>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xl-6">
                                                                    <div class="form-group">
                                                                        <label for="startTime">Start Time</label>
                                                                        <input class="form-control" type="datetime-local" id="startTime">
                                                                        <span class="form-text text-muted">Please enter start time.</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-6">
                                                                    <div class="form-group">
                                                                        <label for="dueTime">Due Time</label>
                                                                        <input class="form-control" type="datetime-local" id="dueTime">
                                                                        <span class="form-text text-muted">Please enter due time.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end: Form Wizard Step 1-->

                                                <!--begin: Form Wizard Step 2-->
                                                <div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
                                                    <div class="kt-heading kt-heading--md">Choose questions for the quiz</div>
                                                    <div class="kt-separator"></div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v2__form">
                                                            <div class="form-group row">
                                                                <label for="questionSearch">Search question</label>
                                                                <div class="kt-input-icon kt-input-icon--left">
                                                                    <input type="text" class="form-control form-control-sm" placeholder="Search..."
                                                                           id="questionSearch" data-toggle="modal" data-target="#questionBank">
                                                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
																	<span><i class="la la-binoculars"></i></span>
																</span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <a th:href="@{/manage/create-question}" onclick="window.open(this.href
                                                                , 'Create New Question', 'left=100,top=30,width=1100,height=600,toolbar=1,resizable=0'); return false;"
                                                                   class="btn btn-success">Create new question</a>
                                                            </div>
                                                            <div class="table-responsive-md">
                                                                <table class="table table-hover">
                                                                    <thead class="kt-datatable__head">
                                                                    <tr>
                                                                        <th class="text-break">Quiz Title</th>
                                                                        <th scope="col" style="width: 20%">Created Date</th>
                                                                        <th scope="col" style="width: 20%">Topic</th>
                                                                        <th scope="col" style="width: 20%">Actions</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <!-- Content of search modal when user pick question from Question Bank -->
                                                                    <tbody id="questions-picked"></tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end: Form Wizard Step 2-->

                                                <!--begin: Form Wizard Step 3-->
                                                <div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
                                                    <div class="form-group text-center">
                                                        <div class="font-weight-bold d-block text-center" id="error-createQuiz"></div>
                                                    </div>
                                                    <div class="kt-heading kt-heading--md">Review and Submit</div>
                                                    <div class="kt-separator"></div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <!-- Starting review question -->
                                                        <div class="kt-form__section kt-form__section--first" id="reviewQuiz">
                                                        </div>
                                                        <!-- End review -->
                                                    </div>
                                                </div>
                                                <!--end: Form Wizard Step 3-->

                                                <!--begin: Form Actions -->
                                                <div class="kt-form__actions">
                                                    <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" id="form-previous" data-ktwizard-type="action-prev">
                                                        Previous
                                                    </button>
                                                    <button class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" id="form-submit" data-ktwizard-type="action-submit">
                                                        Submit
                                                    </button>
                                                    <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" id="form-next-step" data-ktwizard-type="action-next">
                                                        Next Step
                                                    </button>
                                                </div>

                                                <!--end: Form Actions -->
                                            </form>
                                            <!--end: Form Wizard Form-->
                                        </div>
                                        <!--end: Portlet -->

                                        <!--begin :: Create new question modal-->
                                        <div class="modal fade" id="createQuestion" role="dialog" aria-labelledby="" aria-hidden="true">
                                            <div class="modal-dialog modal-xl" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="">Create new question</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true" class="la la-remove"></span>
                                                        </button>
                                                    </div>
                                                    <!--begin::Form-->
                                                    <div th:replace="manage/create-question :: addQuestion"></div>
                                                    <!--end::Form-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--end :: Create new question modal-->

                                        <!-- begin :: Data modal -->
                                        <div id="questionBank" class="modal fade" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-xl">
                                                <div class="modal-content" style="min-height: 590px;">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">
                                                            Search Question
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/manage}" id="form-search">
                                                        <!--begin: Search Form -->
                                                        <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                                                            <div class="row align-items-center">
                                                                <div class="col-xl-8 order-2 order-xl-1">
                                                                    <div class="row align-items-center">
                                                                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                                                            <div class="kt-input-icon kt-input-icon--left">
                                                                                <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                                                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
																				<span><i class="la la-search"></i></span>
																			</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                                                            <div class="kt-form__group kt-form__group--inline">
                                                                                <div class="kt-form__label">
                                                                                    <label for="topics">Topic:</label>
                                                                                </div>
                                                                                <div class="kt-form__control">
                                                                                    <select class="form-control" id="topics">
                                                                                        <option value="">All</option>
                                                                                        <option th:each="topic : ${listTopic}" th:text="${topic?.topicName}" th:value="${topic?.topicName}"></option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </form>
                                                        <!--end: Search Form -->
                                                    </div>
                                                    <div class="modal-body modal-body-fit">

                                                        <!--begin: Datatable -->
                                                        <div id="modal_datatable_local_source" class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--scroll kt-datatable--loaded" style="">
                                                            <table class="kt-datatable__table" style="display: block; min-height: 400px; max-height: 400px;">
                                                                <thead class="kt-datatable__head">
                                                                    <tr class="kt-datatable__row" style="left: 0px;">
                                                                        <th data-field="id" class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                                                            <input type="checkbox" id="checkAll">
                                                                        </th>
                                                                        <th data-field="name" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 350px;">Question Title</span></th>
                                                                        <th data-field="hire_date" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 145px;">Created Date</span></th>
                                                                        <th data-field="status" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 145px;">Topic</span></th>
                                                                        <th data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 110px;">Actions</span></th>
                                                                    </tr>
                                                                </thead>
                                                                <!-- Content of search modal -->
                                                                <tbody style="max-height: 346px;" class="kt-datatable__body ps ps--active-y" id="table-body">
                                                                    <tr data-row="0" class="kt-datatable__row" style="left: 0px;" th:each="question : ${listQuestion}">
                                                                            <td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check" data-field="id">
                                                                                <input type="checkbox" name="checkRow" th:value="${question?.id}">
                                                                            </td>
                                                                            <td data-field="name" class="kt-datatable__cell"><span style="width: 350px;">[[${question?.question}]]</span></td>
                                                                            <td data-field="hire_date" class="kt-datatable__cell"><span style="width: 145px;">[[${#dates.format(question?.createTime, 'dd-MMM-yyyy')}]]</span></td>
                                                                            <td data-field="status" class="kt-datatable__cell">
                                                                                <span style="width: 145px;">
                                                                                    <th:block th:each="topic : ${question?.topicName}">
                                                                                        <span class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill">[[${topic}]]</span>&nbsp;
                                                                                    </th:block>
                                                                                </span>
                                                                            </td>
                                                                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                                                            <span style="overflow: visible; position: relative; width: 110px;">
                                                                                <a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="View details">
                                                                                    <i class="la la-arrows"></i>
                                                                                </a>
                                                                                <a href="#createQuestion" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="modal" th:data-id="${question?.id}" title="Edit details">
                                                                                    <i class="la la-edit"></i>
                                                                                </a>
                                                                                <a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-md modal-delete" title="Delete">
                                                                                    <i class="la la-trash"></i>
                                                                                </a>
                                                                            </span>
                                                                            </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <!--end: Datatable -->
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-clean btn-bold btn-upper btn-font-md" data-dismiss="modal">Close</button>
                                                        <button type="button" id="modal-submit" class="btn btn-default btn-bold btn-upper btn-font-md">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end: Data modal -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end:: Content -->
                    </div>
                </div>
            </div>

            <!-- begin:: Footer -->
            <div th:replace="fragments :: footer"></div>
            <!-- end:: Footer -->
        </div>
    </div>
</div>

<!-- end:: Page -->
<th:block th:insert="fragments :: body/script"></th:block>
<script th:src="@{/js/pages/crud/forms/widgets/form-repeater.js}" type="text/javascript"></script>
<script th:src="@{/js/pages/crud/forms/editors/summernote.js}" type="text/javascript"></script>
<script th:src="@{/js/pages/crud/forms/widgets/select2.js}" type="text/javascript"></script>
<script th:src="@{/js/pages/custom/wizard/wizard-2.js}" type="text/javascript"></script>
<script th:src="@{/js/validator.js}" type="text/javascript"></script>
<script th:src="@{/js/pages/crud/metronic-datatable/advanced/modal.js}" type="text/javascript"></script>
<script th:inline="javascript">
    $(function() {
        $(window).keydown(function(e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        })
        /* Add question with form modal */
        $('#form-add_question').on('click', '#btn-add_question', function (e) {
            e.preventDefault();
            let answer = $('.answer');
            let map = {};
            let arr = $.map(answer, function (e) {
                return e.value;
            })
            let arrCorrect = $.map($('.correct-answer'), function(e) {
                return e.checked;
            })
            let arrTopic = $.map($('.topic'), function(e) {
                if (e.checked) {
                    return e.value;
                }
            })
            for (let i = 0; i < answer.length; i++) {
                map[arr[i]] = arrCorrect[i];
            }
            let data = {
                id : $('#userId').val(),
                question : $('.note-editable p').text(),
                listAnswer : map,
                listTopic : arrTopic,
                questionId : $('#questId').val()
            }
            $.ajax({
                url: $('#form-add_question').attr('action'),
                contentType: 'application/json',
                type: 'POST',
                data: JSON.stringify(data),
                success: function(result) {
                    if (result === 'CREATE') {
                        $('#success-question').addClass('alert alert-success').html("CREATE NEW QUESTION SUCCESSFUL");
                    } else if (result === 'UPDATE') {
                        $('#success-question').addClass('alert alert-success').html("UPDATE QUESTION SUCCESSFUL");
                    } else {
                        $('#error-question').addClass('alert alert-danger').html(result);
                    }
                }
            });
        });

        /* Next step (save and continue) */
        $('#kt_form').on('click', '#form-next-step', function(e) {
            e.preventDefault();
            let topics = $.map($('#kt_form li.select2-selection__choice'), function (e) {
                return e.title;
            })
            let questions = $.map($('#questions-picked input[name="questionId"]'), function(e) {
                return e.value;
            })
            let quizId = $('#quizId').val();
            let data = {
                quizId : quizId,
                quizName : $('#quiz-title').val(),
                listTopic : topics,
                startTime : $('#startTime').val(),
                endTime : $('#dueTime').val(),
                userId : $('#userId').val(),
                questionIds : questions
            }
            $('#message').addClass('d-none');
            $.ajax({
                type: 'POST',
                url: $('#form-search').attr('action') + '/add-quiz',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(result) {
                    $('#quizId').val(result.quizId);
                    $('#reviewQuiz').empty();
                    if (result.listQuestion != null) {
                        $.each(result.listQuestion, function (i, item) {
                            let listAnswer = "";
                            $.each(item.answerDTOS, function (j, data) {
                                listAnswer += "<div class='col-lg-6'>" +
                                    "<label class='kt-option'>" +
                                    "<span class='kt-option__control'>" +
                                    "<span class='kt-radio'><input type='radio' name='answer_question_" + i + "'><span></span></span>" +
                                    "</span>" +
                                    "<span class='kt-option__label'><span class='kt-option__head'><span class='kt-option__title'>" + data.answer +"</span></span></span>" +
                                    "</label>" +
                                    "</div>";
                            })
                            $("<div class='kt-wizard-v2__review'>" +
                                "<div class='kt-wizard-v2__review-item'>" +
                                "<div class='kt-wizard-v2__review-title'>" + item.question + "</div>" +
                                "<div class='kt-wizard-v2__review-content'><div class='row'>" + listAnswer + "</div></div>" +
                                "</div>" +
                                "</div>").appendTo('#reviewQuiz');
                        })
                    }
                }
            })
        })

        /* Previous step */
        $('#kt_form').on('click', '#form-previous', function () {
            $.ajax({
                url: $('#form-search').attr('action') + '/delete-quiz',
                type: 'DELETE',
                data: ({quizId: $('#quizId').val()}),
                traditional: true,
                success: function () {
                    console.log('delete question which picked up')
                }
            })
        })

        /* Search modal */
        $('#form-search').on('input', '#generalSearch, #topics', function() {
            let search = $('#generalSearch').val();
            let topic = $('#topics option:selected').val();
            $.ajax({
                url: $('#form-search').attr('action') + "/search",
                type: 'GET',
                data: ({'search' : search, 'topic' : topic }),
                traditional: true,
                success: function(result) {
                    $('#table-body').empty();
                    $.each(result, function(i, item) {
                        let topics = "";
                        $.each(item.topicName, function(j, data) {
                            topics += "<span class='kt-badge kt-badge--danger kt-badge--inline kt-badge--pill'>" + data + "</span>&nbsp;";
                        })
                        $('#table-body').append("<tr class='kt-datatable__row' style='left: 0px;'>" +
                            "<td class='kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check'>" +
                            "<input type='checkbox' name='checkRow' value='" + item.id + "'></td>" +
                            "<td class='kt-datatable__cell'><span style='width: 350px;'>" + item.question + "</span></td>" +
                            "<td class='kt-datatable__cell'><span style='width: 145px;'>" + moment(item.createTime).format('DD-MMM-YYYY') + "</span></td>" +
                            "<td class='kt-datatable__cell'><span style='width: 145px;'>" + topics + "</span></td>" +
                            "<td class='kt-datatable__cell'>" +
                            "<span style='overflow: visible; position: relative; width: 110px;'>" +
                            "<a class='btn btn-sm btn-clean btn-icon btn-icon-md' title='View details' href='javascript:;'><i class='la la-arrows'></i></a>" +
                            "<a class='btn btn-sm btn-clean btn-icon btn-icon-md' title='Edit details' data-toggle='modal' data-id='" + item.id + "' href='#createQuestion'><i class='la la-edit'></i></a>" +
                            "<a class='btn btn-sm btn-clean btn-icon btn-icon-md modal-delete' title='Delete' href='javascript:;'><i class='la la-trash'></i></a>" +
                            "</span></td><tr>");
                    });
                }
            })
        })

        /* Check All check box */
        $('#checkAll').on('click', function() {
            let checked = this.checked;
            $('#table-body input[type=checkbox]').each(function() {
                this.checked = checked;
            })
        })

        /* btn delete question */
        $('#table-body').on('click', '.modal-delete', function() {
            let questionIds = $.map($('#table-body input[name="checkRow"]:checked'), function(e) {
                return e.value;
            })
            $.ajax({
                url: $('#form-search').attr('action') + '/delete-question',
                type: 'DELETE',
                data: ({'questionIds' : questionIds}),
                traditional: true,
                success: function() {
                    $('#table-body input[name="checkRow"]:checked').closest('tr').fadeOut(500, function() {
                        $(this).remove();
                    });
                }
            })
        })

        /* Open modal to edit question */
        $('#createQuestion').on('show.bs.modal', function(e) {
            $('#questionBank').modal('hide');
            $('#success-question').removeClass('alert alert-success').html('');
            $('#error-question').removeClass('alert alert-danger').html('');
            let questionId = $(e.relatedTarget).data('id');
            $.ajax({
                url: $('#form-search').attr('action') + '/findQuestion',
                type: 'GET',
                data: ({ questionId : questionId }),
                traditional: true,
                success: function(result) {
                    // Pass value for question Id
                    $(e.currentTarget).find('#questId').val(result.id);

                    // Pass value for question details (title of question)
                    $(e.currentTarget).find('.note-editable p').text(result.question);

                    // Pass value for answer & correct answer
                    $('#answerRow').empty();
                    $.each(result.answerDTOS, function(i, item) {
                        let checked = "";
                        if (item.correctAnswer === true) {
                            checked = "checked";
                        }
                        $("<div data-repeater-item class='form-group row align-items-center'>" +
                            "<div class='col-md-6'>" +
                            "<div class='kt-form__group--inline'>" +
                            "<div class='kt-form__control'><input type='text' class='form-control answer' value='" + item.answer + "' placeholder='Enter choice question'></div>" +
                            "</div>" +
                            "<div class='d-md-none kt-margin-b-10'></div>" +
                            "</div>" +
                            "<div class='col-md-2'>" +
                            "<div class='kt-radio-inline'>" +
                            "<label class='kt-checkbox kt-checkbox--success kt-checkbox--state-success'>" +
                            "<input type='checkbox' class='correct-answer' " + checked + "> Correct Answer<span></span>" +
                            "</label>" +
                            "</div></div>" +
                            "<div class='col-md-3'>" +
                            "<a href='javascript:;' data-id='" + item.id + "' data-repeater-delete class='btn-sm btn btn-label-danger btn-bold btn-deleteAnswer'>" +
                            "<i class='la la-trash-o'></i>Delete</a>" +
                            "</div>" +
                            "</div>").appendTo('#answerRow');
                    })

                    // Get list topic
                    let listTopic = $(e.currentTarget).find('.topic');
                    // Pass value for topic
                    $.each(result.topicName, function(i, item) {
                        $.each(listTopic, function() {
                            if (this.value == item) {
                                this.checked = true;
                            }
                        })
                    })
                }
            })
        })

        /* Delete answer */
        $('#createQuestion').on('click', '.btn-deleteAnswer', function() {
            let answer = $(this).attr('data-id');
            $.ajax({
                url: $('#form-search').attr('action') + '/delete-answer',
                type: 'DELETE',
                data: ({ questionId : $('#questId').val(), answerId : answer }),
                traditional: true,
                success: function() {
                    console.log('delete answer');
                }
            })
        })

        /* btn-cancel of createQuestion modal to back questionBank modal */
        $('#btn-cancel').on('click', function() {
            $('#createQuestion').modal('hide');
            $('#questionBank').modal('show');
        })

        /* submit modal to get list answer */
        $('#questionBank').on('click', '#modal-submit', function() {
            let questionIds = $.map($('#table-body input[name="checkRow"]:checked'), function(e) {
                return e.value;
            })
            $.ajax({
                url: $('#form-search').attr('action') + '/pick-question',
                type: 'GET',
                data: ({'questionIds' : questionIds}),
                traditional: true,
                success: function(result) {
                    $.each(result, function(i, item) {
                        let topics = "";
                        $.each(item.topicName, function(j, data) {
                            topics += "<span class='kt-badge kt-badge--danger kt-badge--inline kt-badge--pill'>" + data + "</span>&nbsp;";
                        })
                        $('#questions-picked').append("<tr class='kt-datatable__row' style='left: 0px;'>" +
                            "<td class='kt-datatable__cell text-break'><span style='width: 350px;'>" + item.question + "</span><input type='hidden' name='questionId' value='" + item.id + "'></td>" +
                            "<td class='kt-datatable__cell'><span style='width: 145px;'>" + moment(item.createTime).format('DD-MMM-YYYY') + "</span></td>" +
                            "<td class='kt-datatable__cell'><span style='width: 145px;'>" + topics + "</span></td>" +
                            "<td class='kt-datatable__cell'>" +
                            "<span style='overflow: visible; position: relative; width: 110px;'>" +
                            "<a class='btn-sm btn btn-label-danger btn-bold btn-delete' title='Delete' href='javascript:;'><i class='la la-trash-o'></i></a>" +
                            "</span></td><tr>");
                    })
                }
            })
        })

        /* Delete question which is picked */
        $('#questions-picked').on('click', '.btn-delete', function () {
            let tr = $(this).closest('tr');
            tr.fadeOut(300, function() {
                tr.remove();
            })
        })

        /* Submit form */
        $('#kt_form').on('click', '#form-submit', function(e) {
            e.preventDefault();
            $.ajax({
                url: $('#form-search').attr('action') + '/update-status',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ quizId : $('#quizId').val() }),
                success: function(result) {
                    if (result == 'OK') {
                        window.setTimeout(function() {
                            window.location.href = 'http://localhost:8080/quiz/manage/create-quiz?success=createQuiz';
                        }, 3000)
                    } else {
                        $('#error-createQuiz').addClass('alert alert-danger').html(result);
                    }
                }
            })
        });
    });
    /* Validate form */
    Validator({
        form: '#kt_form',
        errorSelector: '.invalid-feedback',
        rules: [
            Validator.isRequired('#quiz-title')
        ]
    });
</script>
</body>

<!-- end::Body -->
</html>