<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- begin::Head -->
<head>
	<th:block th:insert="fragments :: head/meta"></th:block>
	<th:block th:insert="fragments :: head/link"></th:block>

	<title>Quiz | Dashboard</title>
</head>

<!-- end::Head -->

<!-- begin::Body -->
<body th:style="'background-image: url(' + @{/media/demos/demo8/bg-1.jpg} + ');'"
	  class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">

<!-- begin:: Page -->

<!-- begin:: Header Mobile -->
<div th:replace="fragments :: header-mobile"></div>

<!-- end:: Header Mobile -->
<div class="kt-grid kt-grid--hor kt-grid--root">
	<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
		<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

			<!-- begin:: Header -->
			<div th:replace="fragments :: header"></div>
			<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch">
				<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
					<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

						<!-- begin:: Subheader -->
						<div class="kt-subheader   kt-grid__item" id="kt_subheader">
							<div class="kt-container  kt-container--fluid ">
								<div class="kt-subheader__main">
									<h3 class="kt-subheader__title">
										Dashboard </h3>
									<span class="kt-subheader__separator kt-hidden"></span>
									<div class="kt-subheader__breadcrumbs">
										<a href="#" class="kt-subheader__breadcrumbs-home"><i
												class="flaticon2-shelter"></i></a>
										<span class="kt-subheader__breadcrumbs-separator"></span>
									</div>
								</div>
							</div>
						</div>
						<!-- end:: Subheader -->

						<!-- begin:: Content -->
						<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
							<!--Begin::Section-->
							<div class="kt-section">
								<div class="kt-section__title kt-font-brand">
									Quiz Incomming
								</div>
								<div class="kt-section__content" id="rowQuizPublished">
									<input type="hidden" id="totalPublished" th:value="${totalPublished.size()}">
									<div class="row">
										<!-- Start display Quiz Incoming -->
										<div class="col-xl-4" th:each="quizPublished : ${quizzesPublished}">
											<!--begin:: Portlet-->
											<div class="kt-portlet kt-portlet--height-fluid">
												<div class="kt-portlet__body kt-portlet__body--fit">
													<!--begin::Widget -->
													<div class="kt-widget kt-widget--project-1">
														<div class="kt-widget__head d-flex">
															<div class="kt-widget__label">
																<div class="kt-widget__media kt-widget__media--m">
																	<span class="kt-media kt-media--md kt-media--circle">
																		<img th:src="@{/media/project-logos/6.png}" alt="image">
																	</span>
																</div>
																<div class="kt-widget__info kt-padding-0 kt-margin-l-15">
																	<a href="#" class="kt-widget__title">[[${quizPublished?.quizName}]]</a>
																	<span class="kt-widget__desc">Created by: <b>[[${quizPublished?.ownerDTO?.username}]]</b></span>
																</div>
															</div>
														</div>
														<div class="kt-widget__body">
															<div class="kt-widget__stats kt-margin-t-20">
																<div class="kt-widget__item d-flex align-items-center kt-margin-r-30">
																		<span class="kt-widget__date kt-padding-0 kt-margin-r-10">
																			Start Time
																		</span>
																	<div class="kt-widget__label">
																		<span class="btn btn-label-brand btn-sm btn-bold btn-upper">
																			[[${#temporals.format(quizPublished?.startTime, 'dd MMM, yy HH:mm', new java.util.Locale('en', 'EN'))}]]
																		</span>
																	</div>
																</div>
																<div class="kt-widget__item d-flex align-items-center kt-padding-l-0">
																		<span class="kt-widget__date kt-padding-0 kt-margin-r-10 ">
																			Due Time
																		</span>
																	<div class="kt-widget__label">
																		<span class="btn btn-label-danger btn-sm btn-bold btn-upper">
																			[[${#temporals.format(quizPublished?.endTime, 'dd MMM, yy HH:mm', new java.util.Locale('en', 'EN'))}]]
																		</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="kt-widget__footer">
															<div class="kt-widget__wrapper">
																<div class="kt-widget__section">
																	<div class="kt-widget__blog">
																		<i class="flaticon2-list-1"></i>
																		<span class="kt-widget__value kt-font-brand">[[${quizPublished?.listQuestion.size()}]] Questions</span>
																	</div>
																	<div class="kt-widget__blog">
																		<i class="flaticon2-time"></i>
																		<span class="kt-widget__value kt-font-brand">
																			<th:block th:with="dur=${T(java.time.Duration).between(quizPublished?.startTime, quizPublished?.endTime)}"
																					  th:text="${dur.toHours()} + ' hour(s) ' + ${dur.toMinutesPart()} + ' minutes'">
																			</th:block>
																		</span>
																	</div>
																</div>
																<div class="kt-widget__section">
																	<th:block th:if="${quizPublished?.startTime.isBefore(#temporals.createNow())}">
																		<a th:href="@{/member/doQuiz(quizId=${quizPublished?.quizId})}" class="btn btn-brand btn-sm btn-upper btn-bold">JOIN</a>
																	</th:block>
																	<th:block th:unless="${quizPublished?.startTime.isBefore(#temporals.createNow())}">
																		<button type="button" class="btn btn-secondary btn-sm btn-upper btn-bold" style="pointer-events: none">IN COMING</button>
																	</th:block>
																</div>
															</div>
														</div>
													</div>
													<!--end::Widget -->
												</div>
											</div>
											<!--end:: Portlet-->
										</div>
									</div>
								</div>
								<!-- Button show more -> for paging -->
								<div class="kt-section__info kt-align-center">
									<button class="btn btn-label-brand btn-bold" th:classappend="${invisible ne null ? 'd-none' : ''}" id="showMoreInComing">Load more...</button>
								</div>
							</div>
							<!--End::Section-->

							<!--Begin::Section-->
							<div class="kt-section">
								<div class="kt-section__title kt-font-brand">
									Quiz Completed
								</div>
								<div class="kt-section__content" id="rowQuizCompleted">
									<input type="hidden" id="totalCompleted" th:value="${totalCompleted.size()}">
									<div class="row">
										<!-- Start display Quiz completed -->
										<div class="col-xl-4" th:each="quizCompleted : ${quizzesCompleted}">
											<!--begin:: Portlet-->
											<div class="kt-portlet kt-portlet--height-fluid">
												<div class="kt-portlet__body kt-portlet__body--fit">
													<!--begin::Widget -->
													<div class="kt-widget kt-widget--project-1">
														<div class="kt-widget__head d-flex">
															<div class="kt-widget__label">
																<div class="kt-widget__media kt-widget__media--m">
																	<span class="kt-media kt-media--md kt-media--circle">
																		<img th:src="@{/media/project-logos/6.png}" alt="image">
																	</span>
																</div>
																<div class="kt-widget__info kt-padding-0 kt-margin-l-15">
																	<a href="#" class="kt-widget__title">[[${quizCompleted?.quizName}]]</a>
																	<span class="kt-widget__desc">Created by : <b>[[${quizCompleted?.ownerDTO?.username}]]</b></span>
																</div>
															</div>
														</div>
														<div class="kt-widget__body">
															<div class="kt-widget__stats kt-margin-t-20">
																<div class="kt-widget__item d-flex align-items-center kt-margin-r-30">
																		<span class="kt-widget__date kt-padding-0 kt-margin-r-10">
																			Start Time
																		</span>
																	<div class="kt-widget__label">
																		<span class="btn btn-label-brand btn-sm btn-bold btn-upper">
																			[[${#temporals.format(quizCompleted?.startTime, 'dd MMM, yy HH:mm', new java.util.Locale('en', 'EN'))}]]
																		</span>
																	</div>
																</div>
																<div class="kt-widget__item d-flex align-items-center kt-padding-l-0">
																		<span class="kt-widget__date kt-padding-0 kt-margin-r-10 ">
																			Due Time
																		</span>
																	<div class="kt-widget__label">
																		<span class="btn btn-label-danger btn-sm btn-bold btn-upper">
																			[[${#temporals.format(quizCompleted?.endTime, 'dd MMM, yy HH:mm', new java.util.Locale('en', 'EN'))}]]
																		</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="kt-widget__footer">
															<div class="kt-widget__wrapper">
																<div class="kt-widget__section">
																	<div class="kt-widget__blog">
																		<i class="flaticon2-list-1"></i>
																		<span class="kt-widget__value kt-font-brand">[[${quizCompleted?.listQuestion.size()}]] Questions</span>
																	</div>
																	<div class="kt-widget__blog">
																		<i class="flaticon2-time"></i>
																		<span class="kt-widget__value kt-font-brand">
																			<th:block th:with="dur=${T(java.time.Duration).between(quizCompleted?.startTime, quizCompleted?.endTime)}"
																					  th:text="${dur.toHours()} + ' hour(s) ' + ${dur.toMinutesPart()} + ' minutes'">
																			</th:block>
																		</span>
																	</div>
																</div>
																<div class="kt-widget__section">
																	<a th:href="@{/member/viewQuiz(quizId=${quizCompleted?.quizId})}" class="btn btn-brand btn-sm btn-upper btn-bold">VIEW</a>
																</div>
															</div>
														</div>
													</div>
													<!--end::Widget -->
												</div>
											</div>
											<!--end:: Portlet-->
										</div>
									</div>
								</div>
								<!-- Button show more -> for paging -->
								<div class="kt-section__info kt-align-center">
									<button class="btn btn-label-brand btn-bold" th:classappend="${invisible ne null ? 'd-none' : ''}" id="showMoreCompleted">Load more...</button>
								</div>
							</div>
							<!--End::Section-->
						</div>
						<!-- end:: Content -->
					</div>
				</div>
			</div>

			<!-- begin:: Footer -->
			<div th:replace="fragments :: footer"></div>
			<!-- end:: Footer -->
		</div>
	</div>
</div>

<!-- end:: Page -->
<th:block th:insert="fragments :: body/script"></th:block>
<script th:inline="javascript">
	let logo = /*[[@{/media/project-logos/6.png}]]*/
	let doQuizPage = /*[[@{/member/doQuiz}]]*/
	let viewQuizPage = /*[[@{/member/viewQuiz}]]*/
	$(function() {
		let size = 3;
		let recordPublished = 0;
		let pagePublished = 1;
		let totalRecordPublished = $('#totalPublished').val();
		$('#showMoreInComing').on('click', function() {
			$.ajax({
				url: 'paging?status=PUBLISHED&page=' + pagePublished + '&size=' + size,
				type: 'GET',
				contentType: 'application/json',
				success: function (result) {
					let button = "";
					let row = "";
					$.each(result, function(i, item) {
						let diff = (Date.parse(item.endTime) - Date.parse(item.startTime))/1000/60;
						let hours = String(100 + Math.floor(diff/60)).substr(1);
						let minutes = String(100 + diff % 60).substr(1);
						recordPublished = ((pagePublished * size) + ++i);
						if (moment(item.startTime).isBefore(moment())) {
							button = "<a href='" + doQuizPage + "?quizId=" + item.quizId + "' class='btn btn-brand btn-sm btn-upper btn-bold'>JOIN</a>";
						} else {
							button = "<button type='button' class='btn btn-secondary btn-sm btn-upper btn-bold' style='pointer-events: none'>IN COMING</button>"
						}
						row +="<div class='col-xl-4'>" +
								"<div class='kt-portlet kt-portlet--height-fluid'>" +
								"<div class='kt-portlet__body kt-portlet__body--fit'>" +
								"<div class='kt-widget kt-widget--project-1'>" +
								"<div class='kt-widget__head d-flex'>" +
								"<div class='kt-widget__label'>" +
								"<div class='kt-widget__media kt-widget__media--m'>" +
								"<span class='kt-media kt-media--md kt-media--circle'><img alt='image' src='" + logo + "'></span></div>" +
								"<div class='kt-widget__info kt-padding-0 kt-margin-l-15'>" +
								"<a href='javascript:;' class='kt-widget__title'>" + item.quizName + "</a>" +
								"<span class='kt-widget__desc'>Created by: <b>" + item.ownerDTO.username + "</b></span></div>" +
								"</div>" +
								"</div>" +
								"<div class='kt-widget__body'>" +
								"<div class='kt-widget__stats kt-margin-t-20'>" +
								"<div class='kt-widget__item d-flex align-items-center kt-margin-r-30'>" +
								"<span class='kt-widget__date kt-padding-0 kt-margin-r-10'>Start Time</span>" +
								"<div class='kt-widget__label'><span class='btn btn-label-brand btn-sm btn-bold btn-upper'>" + moment(item.startTime).format("DD MMM, YY HH:mm") + "</span></div></div>" +
								"<div class='kt-widget__item d-flex align-items-center kt-padding-l-0'>" +
								"<span class='kt-widget__date kt-padding-0 kt-margin-r-10'>Due Time</span>" +
								"<div class='kt-widget__label'><span class='btn btn-label-danger btn-sm btn-bold btn-upper'>" + moment(item.endTime).format("DD MMM, YY HH:mm") + "</span></div></div>" +
								"</div>" +
								"</div>" +
								"<div class='kt-widget__footer'>" +
								"<div class='kt-widget__wrapper'><div class='kt-widget__section'><div class='kt-widget__blog'>" +
								"<i class='flaticon2-list-1'></i>" +
								"<span class='kt-widget__value kt-font-brand'>" + item.listQuestion.length + " Questions</span></div>" +
								"<div class='kt-widget__blog'><i class='flaticon2-time'></i>" +
								"<span class='kt-widget__value kt-font-brand'>" + hours + " hour(s) : " + minutes + " minutes</span></div></div>" +
								"<div class='kt-widget__section'>" + button + "</div></div>" +
								"</div>" +
								"</div>" +
								"</div>" +
								"</div>" +
								"</div>";
					})
					$("<div class='row'>" + row + "</div>").appendTo('#rowQuizPublished').hide().slideDown(500);
					pagePublished++;
					// Hide the button load more
					if (recordPublished == totalRecordPublished || recordPublished === 0) {
						$('#showMoreInComing').addClass('d-none');
					}
				}
			})
		});
		let recordCompleted = 0;
		let pageCompleted = 1;
		let totalRecordCompleted = $('#totalCompleted').val();
		$('#showMoreCompleted').on('click', function() {
			$.ajax({
				url: 'paging?status=COMPLETED&page=' + pageCompleted + '&size=' + size,
				type: 'GET',
				contentType: 'application/json',
				success: function(result) {
					let row = "";
					$.each(result, function(i, item) {
						let diff = (Date.parse(item.endTime) - Date.parse(item.startTime))/1000/60;
						let hours = String(100 + Math.floor(diff/60)).substr(1);
						let minutes = String(100 + diff % 60).substr(1);
						recordCompleted = ((pageCompleted * size) + ++i);
						row +="<div class='col-xl-4'>" +
								"<div class='kt-portlet kt-portlet--height-fluid'>" +
								"<div class='kt-portlet__body kt-portlet__body--fit'>" +
								"<div class='kt-widget kt-widget--project-1'>" +
								"<div class='kt-widget__head d-flex'>" +
								"<div class='kt-widget__label'>" +
								"<div class='kt-widget__media kt-widget__media--m'>" +
								"<span class='kt-media kt-media--md kt-media--circle'><img alt='image' src='" + logo + "'></span></div>" +
								"<div class='kt-widget__info kt-padding-0 kt-margin-l-15'>" +
								"<a href='javascript:;' class='kt-widget__title'>" + item.quizName + "</a>" +
								"<span class='kt-widget__desc'>Created by: <b>" + item.ownerDTO.username + "</b></span></div>" +
								"</div>" +
								"</div>" +
								"<div class='kt-widget__body'>" +
								"<div class='kt-widget__stats kt-margin-t-20'>" +
								"<div class='kt-widget__item d-flex align-items-center kt-margin-r-30'>" +
								"<span class='kt-widget__date kt-padding-0 kt-margin-r-10'>Start Time</span>" +
								"<div class='kt-widget__label'><span class='btn btn-label-brand btn-sm btn-bold btn-upper'>" + moment(item.startTime).format("DD MMM, YY HH:mm") + "</span></div></div>" +
								"<div class='kt-widget__item d-flex align-items-center kt-padding-l-0'>" +
								"<span class='kt-widget__date kt-padding-0 kt-margin-r-10'>Due Time</span>" +
								"<div class='kt-widget__label'><span class='btn btn-label-danger btn-sm btn-bold btn-upper'>" + moment(item.endTime).format("DD MMM, YY HH:mm") + "</span></div></div>" +
								"</div>" +
								"</div>" +
								"<div class='kt-widget__footer'>" +
								"<div class='kt-widget__wrapper'><div class='kt-widget__section'><div class='kt-widget__blog'>" +
								"<i class='flaticon2-list-1'></i>" +
								"<span class='kt-widget__value kt-font-brand'>" + item.listQuestion.length + " Questions</span></div>" +
								"<div class='kt-widget__blog'><i class='flaticon2-time'></i>" +
								"<span class='kt-widget__value kt-font-brand'>" + hours + " hour(s) : " + minutes + " minutes</span></div></div>" +
								"<div class='kt-widget__section'><a href='" + viewQuizPage + "?quizId=" + item.quizId + "' class='btn btn-brand btn-sm btn-upper btn-bold'>VIEW</a></div></div>" +
								"</div>" +
								"</div>" +
								"</div>" +
								"</div>" +
								"</div>";
					})
					$("<div class='row'>" + row + "</div>").appendTo('#rowQuizCompleted').hide().slideDown(500);
					pageCompleted++;
					// Hide the button load more
					if (recordCompleted == totalRecordCompleted || recordCompleted === 0) {
						$('#showMoreCompleted').addClass('d-none');
					}
				}
			});

		})
	})

</script>
</body>
<!-- end::Body -->
</html>