<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- begin::Head -->
<head>
    <base href="../../../">
    <meta charset="utf-8" />
    <title>Quiz | Login Page</title>
    <meta name="description" content="Login page example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Asap+Condensed:500">

    <!--end::Fonts -->

    <!--begin::Page Custom Styles(used by this page) -->
    <link th:href="@{/css/pages/login/login-6.css}" rel="stylesheet" type="text/css" />

    <!--end::Page Custom Styles -->

    <!--begin::Global Theme Styles(used by all pages) -->
    <link th:href="@{/plugins/global/plugins.bundle.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/style.bundle.css}" rel="stylesheet" type="text/css" />

    <!--end::Global Theme Styles -->

    <!--begin::Layout Skins(used by all pages) -->

    <!--end::Layout Skins -->
    <link rel="shortcut icon" th:href="@{/media/logos/favicon.ico}" />
    <!-- google reCaptcha api -->
    <script src="https://www.google.com/recaptcha/api.js?onload=myCallBack&render=explicit" async defer></script>
</head>

<!-- end::Head -->

<!-- begin::Body -->
<body th:style="'background-image: url(' + @{/media/demos/demo8/bg-1.jpg} + ');'"
      class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v6 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
            <div class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-login__aside">
                <div class="kt-login__wrapper">
                    <div class="kt-login__container">
                        <div class="kt-login__body">
                            <div class="kt-login__logo">
                                <a href="#">
                                    <img th:src="@{/media/company-logos/logo-2.png}">
                                </a>
                            </div>
                            <!-- Login module -->
                            <div class="kt-login__signin">
                                <div class="kt-login__head">
                                    <h3 class="kt-login__title">Sign In</h3>
                                </div>
                                <div class="kt-login__form">
                                    <form class="kt-form" th:action="@{/login}" method="POST">
                                        <div class="form-group">
                                            <div class="font-weight-bold d-block text-center" th:classappend="${errorMessage ne null ? 'alert alert-danger' : ''}" th:text="${errorMessage}"></div>
                                            <div class="font-weight-bold d-block text-center" th:classappend="${successMessage ne null ? 'alert alert-success' : ''}" th:text="${successMessage}"></div>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Username" name="username" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control form-control-last" type="password" placeholder="Password" name="password">
                                        </div>
                                        <div class="kt-login__extra">
                                            <label class="kt-checkbox">
                                                <input type="checkbox" name="remember"> Remember me
                                                <span></span>
                                            </label>
                                            <a href="javascript:;" id="kt_login_forgot">Forget Password ?</a>
                                        </div>
                                        <div class="kt-login__actions">
                                            <button type="submit" class="btn btn-brand btn-pill btn-elevate">Sign In</button>
                                        </div>
                                    </form>
                                    <!--begin::Divider-->
                                    <div class="text-center">
                                        <div class="kt-logindivider">
                                            <div class="kt-divider">
                                                <span></span>
                                                <span>OR</span>
                                                <span></span>
                                            </div>
                                        </div>
                                        <!--end::Divider-->
                                        <!--begin::Options-->
                                        <div class="kt-loginoptions pt-4">
                                            <a th:href="@{/oauth2/authorization/facebook}" class="btn btn-primary kt-btn"><i class="fab fa-facebook-f"></i>Facebook</a>
                                            <a th:href="@{/oauth2/authorization/google}" class="btn btn-danger kt-btn"><i class="fab fa-google"></i>Google</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Signup Module -->
                            <div class="kt-login__signup">
                                <div class="kt-login__head">
                                    <h3 class="kt-login__title">Sign Up</h3>
                                    <div class="kt-login__desc">Enter your details to create your account:</div>
                                </div>
                                <div class="kt-login__form">
                                    <form class="kt-form" id="form-signup" th:action="@{/register}">
                                        <div class="form-group">
                                            <div class="font-weight-bold d-block text-center" id="error-register"></div>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Username" id="username" name="username">
                                            <span class="invalid-feedback"></span>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Email" id="email" name="email" autocomplete="off">
                                            <span class="invalid-feedback"></span>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="password" placeholder="Password" id="password" name="password">
                                            <span class="invalid-feedback"></span>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control form-control-last" type="password" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword">
                                            <span class="invalid-feedback"></span>
                                        </div>
                                        <div class="form-group text-center">
                                            <div id="g-recaptcha-register"></div>
                                        </div>
                                        <div class="kt-login__actions">
                                            <button type="submit" id="btn-register" class="btn btn-brand btn-pill btn-elevate">Sign Up</button>
                                            <button id="kt_login_signup_cancel" class="btn btn-outline-brand btn-pill">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Forgot password module -->
                            <div class="kt-login__forgot">
                                <div class="kt-login__head">
                                    <h3 class="kt-login__title">Forgotten Password?</h3>
                                    <div class="kt-login__desc">Enter your email to reset your password:</div>
                                </div>
                                <div class="kt-login__form">
                                    <form class="kt-form" id="form-forgetPassword" th:action="@{/forget-password}" method="POST">
                                        <div class="form-group text-center">
                                            <div class="font-weight-bold d-block text-center" id="error-forgetPassword"></div>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Email" name="email" id="kt_email">
                                            <span class="invalid-feedback"></span>
                                        </div>
                                        <div class="form-group text-center">
                                            <div id="g-recaptcha-forgetPassword"></div>
                                        </div>
                                        <div class="kt-login__actions">
                                            <button type="submit" id="btn-forgetPassword" class="btn btn-brand btn-pill btn-elevate">Request</button>
                                            <button id="kt_login_forgot_cancel" class="btn btn-outline-brand btn-pill">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Go to signup module -->
                    <div class="kt-login__account">
								<span class="kt-login__account-msg">
									Don't have an account yet ?
								</span>&nbsp;&nbsp;
                        <a href="javascript:;" id="kt_login_signup" class="kt-login__account-link">Sign Up!</a>
                    </div>
                </div>
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-grid__item--center kt-grid kt-grid--ver kt-login__content" th:style="'background-image: url(' + @{/media/bg/bg-4.jpg} + ')'">
                <div class="kt-login__section">
                    <div class="kt-login__block">
                        <h3 class="kt-login__title">Join Our Community</h3>
                        <div class="kt-login__desc">
                            Lorem ipsum dolor sit amet, coectetuer adipiscing
                            <br>elit sed diam nonummy et nibh euismod
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end:: Page -->

<th:block th:insert="fragments :: body/script"></th:block>

<!--begin::Page Scripts(used by this page) -->
<script th:src="@{/js/pages/custom/login/login-general.js}" type="text/javascript"></script>
<script th:src="@{/js/validator.js}" type="text/javascript">

</script>
<script th:inline="javascript">
    let reCaptchaRegister;
    let reCaptchaForgetPassword;
    let sitekey = /*[[${@environment.getProperty('recaptcha.key.site')}]]*/
    var myCallBack = function () {
        reCaptchaRegister = grecaptcha.render('g-recaptcha-register', {
            'sitekey' : sitekey
        });
        reCaptchaForgetPassword = grecaptcha.render('g-recaptcha-forgetPassword', {
            'sitekey' : sitekey
        });
    }
    $(function() {
        /* Register form */
        $('#form-signup').on('click', '#btn-register', function (e) {
            e.preventDefault();
            let data = {
                username : $('#username').val(),
                email : $('#email').val(),
                password : $('#password').val(),
                confirmPassword : $('#confirmPassword').val(),
                reCaptcha : grecaptcha.getResponse(reCaptchaRegister)
            }
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: $('#form-signup').attr('action'),
                data: JSON.stringify(data),
                success: function(result) {
                    if (result == 'OK') {
                        top.location.href = 'quiz/login?success=register';
                    } else {
                        // Reset rCaptcha
                        grecaptcha.reset(reCaptchaRegister);
                        $('#error-register').addClass('alert alert-danger').html(result);
                    }
                },
                fail: function(xhr, textStatus, errorThrown) {
                    alert('request failed');
                },
                error: function() {
                    console.error();
                }
            });
        });

        /* Forget password */
        $('#form-forgetPassword').on('click', '#btn-forgetPassword', function (e) {
            e.preventDefault();
            let data = {
                email : $('#kt_email').val(),
                reCaptcha: grecaptcha.getResponse(reCaptchaForgetPassword)
            }
            $.ajax({
                type: 'POST',
                url: $('#form-forgetPassword').attr('action'),
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (result) {
                    if (result == 'OK') {
                        top.location.href = 'quiz/login?success=forget-password';
                    } else {
                        // Reset rCaptcha
                        grecaptcha.reset(reCaptchaForgetPassword);
                        $('#error-forgetPassword').addClass('alert alert-danger').html(result);
                    }
                },
                fail: function(xhr, textStatus, errorThrown) {
                    alert('request failed');
                },
                error: function() {
                    console.error();
                }
            })
        });
    });
    /* Validate form */
    Validator({
        form: '#form-signup',
        errorSelector: '.invalid-feedback',
        rules: [
            Validator.isRequired('#username'),
            Validator.isRequired('#email'),
            Validator.isRequired('#password'),
            Validator.isRequired('#confirmPassword'),
            Validator.isEmail('#email'),
            Validator.isValidPassword('#password'),
            Validator.isConfirmed('#confirmPassword', () => document.querySelector('#form-signup #password').value, "Password not match.")
        ]
    });
    Validator({
        form: '#form-forgetPassword',
        errorSelector: '.invalid-feedback',
        rules: [
            Validator.isEmail('#kt_email')
        ]
    });
</script>
<!--end::Page Scripts -->
</body>
<!-- end::Body -->
</html>