<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments :: head/meta"></th:block>
    <th:block th:insert="fragments :: head/link"></th:block>
    <!--begin::Page Custom Styles(used by this page) -->
    <link th:href="@{/css/pages/error/error-3.css}" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles -->
    <title>Verify Account</title>
</head>
<body th:style="'background-image: url(' + @{/media/demos/demo8/bg-1.jpg} + ');'"
      class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v3" th:style="'background-image: url(' + @{/media/error/bg3.jpg} + ');'">
        <div class="kt-error_container">
            <p class="kt-error_subtitle kt-font-brand">
                [[${successMessage}]]
            </p>
            <p class="kt-error_description kt-font-light">
                Thanks for joining Quiz App!<br>
                Please wait a moment, you will be redirected to the login page.
            </p>
        </div>
    </div>
</div>
<!-- end:: Page -->
<th:block th:insert="fragments :: body/script"></th:block>
</body>
<script>
    window.setTimeout(function() {
        window.location.href = "login";
    }, 3000)
</script>
</html>